<nz-header class="wink-header">

  <div class="logo">
    <span>
      <a href="#/">流计算开发平台</a>
    </span>
  </div>

  <!--<div class="search-box">-->
    <!--<nz-select></nz-select>-->
  <!--</div>-->


  <!--TODO: 下拉菜单-->
  <nz-dropdown [nzPlacement]="'bottomRight'" class="profile">
    <a nz-dropdown><i class="anticon anticon-user"></i>
      lmc395801555
      <i class="anticon anticon-caret-down caret-down"></i>
    </a>

    <ul nz-menu nzSelectable>
      <li nz-menu-item>
        <a class="sub-menu-title"><i class="anticon anticon-bars" style="margin-right: 8px"></i>项目管理</a>
      </li>
      <li nz-menu-item>
        <a class="sub-menu-title"><i class="anticon anticon-logout" style="margin-right: 8px"></i>退出登录</a>
      </li>
    </ul>
  </nz-dropdown>


  <!--TODO: 链接帮助-->
  <nz-tooltip [nzTitle]="'帮助'" [nzPlacement]="'bottom'">
    <span class="help">
      <a href="_blank">
        <i class="anticon anticon-question-circle-o"></i>
      </a>

    </span>

  </nz-tooltip>

  <ul nz-menu class="navigation" [nzMode]="'horizontal'">
    <li nz-menu-item>总览</li>
    <li nz-menu-item>开发</li>
    <li nz-menu-item>运维</li>
  </ul>
</nz-header>
