.inner-router-breadcrumb{
  padding: 12px;
  font-weight: 500;
  border-bottom: 1px solid #303030;
}

:host ::ng-deep nz-breadcrumb-item:last-child{
  color: rgba(255,255,255,.85)!important;
}

app-wink-dagre{
  min-height: 200px;
}
