<nz-breadcrumb class="inner-router-breadcrumb">
  <nz-breadcrumb-item>
    <a [routerLink]="['../']">
      <i class="anticon anticon-rollback">
      </i>
      返回运行拓扑
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Execution Vertex [ 0 ]
  </nz-breadcrumb-item>
</nz-breadcrumb>


<nz-tabset [nzSize]="'small'" [nzTabPosition]="'top'" [nzType]="'line'">

  <nz-tab nzTitle="Vertex Topology">
    <app-wink-dagre></app-wink-dagre>
  </nz-tab>


  <nz-tab nzTitle="SubTask List">
    <nz-table #subTaskListTable
              [nzSize]="'small'"
              [nzBordered]="false"
              [nzData]="subTaskListData"
              [nzScroll]="{x:'1450px'}"
              [nzShowPagination]="false"
              class="card-table small-table">

      <thead nzSingleSort>
      <tr>
        <th nzLeft="0px"
            nzShowSort nzSortKey="test">ID
        </th>
        <th nzShowSort nzSortKey="id">操作
        </th>
        <th nzShowSort nzSortKey="queue_in_cnt">InQueue
        </th>
        <th nzShowSort nzSortKey="queue_out_cnt">OutQueue
        </th>
        <th nzShowSort nzSortKey="num_records_in">RecvCnt
        </th>
        <th nzShowSort nzSortKey="num_records_out">SendCnt
        </th>
        <th nzShowSort nzSortKey="tps">TPS
        </th>
        <th nzShowSort nzSortKey="retries">Retries
        </th>
        <th nzShowSort nzSortKey="duration">Duration
        </th>
        <th nzShowSort nzSortKey="start_time">StartTime
        </th>
        <th nzShowSort nzSortKey="stop_time">StopTime
        </th>
        <th nzRight="0px" nzShowSort nzSortKey="status">Status</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let subTask of subTaskListTable.data">
        <td nzLeft="0px">
          <a nz-tooltip="查看历史">{{subTask.ID}}</a>
        </td>
        <td class="name">
          <a>跳转TaskExecutor日志</a>
        </td>
        <td>{{subTask.queue_in_cnt}}</td>
        <td>{{subTask.queue_out_cnt}}</td>
        <td>{{subTask.num_records_in}}</td>
        <td>{{subTask.num_records_out}}</td>
        <td>{{subTask.tps}}</td>
        <td>{{subTask.retries}}</td>
        <td>{{subTask.duration}}</td>
        <td>{{subTask.start_time}}</td>
        <td>{{subTask.stop_time}}</td>
        <td nzRight="0px">
          <span class="status background RUNNING">{{subTask.status}}</span>
        </td>
      </tr>
      </tbody>


    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Metrics Graph">
    <app-wink-time-range class="small"></app-wink-time-range>
    <div class="echarts-container">
      <app-wink-echarts [title]="'计算耗时'" [tooltipInfo]="'处理流数据平均耗时'"></app-wink-echarts>
      <app-wink-echarts [title]="'数据输入'" [tooltipInfo]="'每秒读取数据源表的RPS的统计'"></app-wink-echarts>
      <app-wink-echarts [title]="'数据输出'" [tooltipInfo]="'每秒写入结果表的RPS的统计'"></app-wink-echarts>
      <app-wink-echarts [title]="'输入队列'" [tooltipInfo]="'输入队列'"></app-wink-echarts>
      <app-wink-echarts [title]="'输出队列'" [tooltipInfo]="'输出队列'"></app-wink-echarts>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Metrics Data"></nz-tab>
  <nz-tab nzTitle="Accumulators"></nz-tab>
</nz-tabset>
