<div class="svg-container" xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <svg class="svg-inner" height="100%" width="100%">

    <rect class="background" fill="transparent" height="100%" width="100%"></rect>

    <g transform="translate(466 ,36.12500000000001)scale(0.7)">
      <g style="visibility: visible">
        <defs>
          <marker id="arrow" markerHeight="4" markerWidth="4" orient="auto"
                  refX="8"
                  refY="0"
                  viewBox="0 -5 10 10">
            <path class="arrow-head" d="M0,-5L10,0L0,5"></path>
          </marker>
        </defs>
        <g class="links"></g>
        <g class="nodes">
          <g class="node-group" id="0" style="transform: translate(20px, 20px);">
            <foreignObject width="200" height="142.5">
              <xhtml:div class="wrapper">

                <div class="inner" id="graph_node_0">
                  <div nz-tooltip="test source code">
                    <div class="type"><span class="key">ID:</span>0<span class="view">点击查看</span></div>
                    <div class="type success"><span class="key">资源健康分:</span>100 分</div>
                    <div class="type"><span class="key">PARALLEL:</span>3</div>
                    <div class="type"><span class="key">TPS:</span>0.00</div>
                    <div class="type"><span class="key">DELAY:</span>0.00 ms</div>
                    <div class="type"><span class="key">IN_Q:</span>0.00 %</div>
                    <div class="type"><span class="key">OUT_Q:</span>0.00 %</div>
                  </div>
                </div>
              </xhtml:div>


            </foreignObject>


          </g>


        </g>
      </g>
    </g>

  </svg>
</div>

