<div class="menu">
  <ul>

    <li nz-tooltip>
      <span (click)="triggerSave()"><i class="anticon anticon-file-add"></i> 新建 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-copy"></i> 另存为 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-save"></i> 保存 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-swap-left"></i> 撤销 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-swap-right"></i> 重做 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-play-circle-o"></i> 调试 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-safety"></i> 语法检查 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-cloud-upload-o"></i> 上线 </span>
    </li>

    <li nz-tooltip>
      <span><i class="anticon anticon-clock-circle-o"></i> 运维 </span>
    </li>

  </ul>

</div>
