<app-wink-time-range class="small"></app-wink-time-range>
<div class="container">
  <nz-collapse [nzBordered]="false">

    <!--TODO: 搞懂这个高度，怎么不设置-->
    <nz-collapse-panel [nzHeader]="overviewPanel.header"
                       [nzActive]="overviewPanel.isActive"
                       class="overview-panel">

      <app-wink-echarts *ngFor="let chart of overviewPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
      </app-wink-echarts>


    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="advancedviewPanel.header"
                       [nzActive]="advancedviewPanel.isActive"
                       class="advanced-view-panel">
      <app-wink-echarts *ngFor="let chart of advancedviewPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">

      </app-wink-echarts>
    </nz-collapse-panel>


    <nz-collapse-panel [nzHeader]="'Delay'"
                       [nzActive]="false"
                       class="delay-panel">

      <app-wink-echarts [title]="'Source SubTask 最大延迟 Top 15'"
                        [tooltipInfo]="'Source SubTask 最大延迟 Top 15'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'读TT延迟'"
                        [tooltipInfo]="'读TT延迟'">
      </app-wink-echarts>
    </nz-collapse-panel>


    <nz-collapse-panel [nzHeader]="throughputPanel.header"
                       [nzActive]="throughputPanel.isActive"
                       class="throughput-panel">
      <app-wink-echarts *ngFor="let chart of throughputPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
      </app-wink-echarts>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="queuePanel.header"
                       [nzActive]="queuePanel.isActive"
                       class="queue-panel">
      <app-wink-echarts *ngFor="let chart of queuePanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
      </app-wink-echarts>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'Tracing'"
                       [nzActive]="false"
                       class="tracing-panel">

      <app-wink-echarts [title]="'Time Used In Processing Per Second'"
                        [tooltipInfo]="'Time Used In Processing Per Second'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'Time Used In Waiting Oputput Per Second'"
                        [tooltipInfo]="'Time Used In Waiting Oputput Per Second'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'TaskLatency Histogram Mean'"
                        [tooltipInfo]="'TaskLatency Histogram Mean'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'WaitOutput Histogram Mean'"
                        [tooltipInfo]="'WaitOutput Histogram Mean'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'WaitInput Histogram Mean'"
                        [tooltipInfo]="'WaitInput Histogram Mean'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'PartitionLatency Mean'"
                        [tooltipInfo]="'PartitionLatency Mean'"></app-wink-echarts>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'Process'"
                       [nzActive]="false"
                       class="process-panel">

      <app-wink-echarts [title]="'Process MEM Rss'"
                        [tooltipInfo]="'Process MEM Rss'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'CPU Usage'"
                        [tooltipInfo]="'CPU Usage'">
      </app-wink-echarts>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'JVM'"
                       [nzActive]="false"
                       class="jvm-panel">

      <app-wink-echarts [title]="'Memory Heap Used'"
                        [tooltipInfo]="'Memory Heap Used'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'Memory NonHeap Used'"
                        [tooltipInfo]="'Memory NonHeap Used'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'Threads Count'"
                        [tooltipInfo]="'Threads Count'">
      </app-wink-echarts>

      <app-wink-echarts [title]="'GC(CMS)'"
                        [tooltipInfo]="'GC(CMS)'">
      </app-wink-echarts>
    </nz-collapse-panel>

  </nz-collapse>

</div>
