<app-wink-time-range class="small"></app-wink-time-range>
<div class="container">
  <nz-collapse [nzBordered]="false">

    <!--TODO: 搞懂这个高度，怎么不设置-->
    <nz-collapse-panel [nzHeader]="overviewPanel.header"
                       [nzActive]="overviewPanel.isActive"
                       class="overview-panel">

      <app-wink-echarts *ngFor="let chart of overviewPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
      </app-wink-echarts>


    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="advancedviewPanel.header"
                       [nzActive]="advancedviewPanel.isActive"
                       class="advanced-view-panel">
      <app-wink-echarts *ngFor="let chart of advancedviewPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">

      </app-wink-echarts>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="delayPanel.header"
                       [nzActive]="delayPanel.isActive"
                       class="delay-panel">
      <app-wink-echarts *ngFor="let chart of delayPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="throughputPanel.header"
                       [nzActive]="throughputPanel.isActive"
                       class="throughput-panel">
      <app-wink-echarts *ngFor="let chart of throughputPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="queuePanel.header"
                       [nzActive]="queuePanel.isActive"
                       class="queue-panel">
      <app-wink-echarts *ngFor="let chart of throughputPanel.charts"
                        [title]="chart.title"
                        [tooltipInfo]="chart.info">
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'Tracing'" [nzActive]="false" class="tracing-panel">
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'Process'" [nzActive]="false" class="process-panel">
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'JVM'" [nzActive]="false" class="jvm-panel">
    </nz-collapse-panel>

  </nz-collapse>

</div>
