#nav {
  background-color: #404040;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #303030;
}
#content {
  position: absolute;
  top: 50px;
  bottom: 0px;
  width: 24px;
  background-color: #515151;
}
