@import '../themes/default';

.reset-component() {
  font-family: @font-family;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ant-tooltip-inner{
  font-size: 12px;
  max-width: 50vw;
  word-break: break-all;
}


//日期那个地方date-picker，点击出来之后的input的颜色
.ant-calendar-input{
  background: #404040;

}

//日期的边框
.ant-calendar{
  border-color: #303030;
}

//.ant-radio-button-wrapper-checked::before{
//  color: #404040;
//}
//.ant-radio-button-wrapper-checked {
//  background: @radio-button-bg;
//  border-color: @radio-dot-color;
//  color: @radio-dot-color;
//  box-shadow: -1px 0 0 0 @radio-dot-color;
//  z-index: 1;
//  //&::before {
//  //  background-color: @radio-dot-color !important;
//  //  opacity: 0.1;
//  //}
//  &:first-child {
//    border-color: @radio-dot-color;
//    box-shadow: none !important;
//  }
//
//  &:hover {
//    border-color: @radio-button-hover-color;
//    box-shadow: -1px 0 0 0 @radio-button-hover-color;
//    color: @radio-button-hover-color;
//  }
//
//  &:active {
//    border-color: @radio-button-active-color;
//    box-shadow: -1px 0 0 0 @radio-button-active-color;
//    color: @radio-button-active-color;
//  }
//}
