<app-wink-operate-instance-header></app-wink-operate-instance-header>
<app-wink-collapse></app-wink-collapse>

<div class="instance-detail-router">
  <div class="wrapper">
    <!--<app-wink-operate-instance-dashboard></app-wink-operate-instance-dashboard>-->
    <!--Dashboard点进去是wink-operate-instance-dashboard-vertices-->
    <!--<app-wink-operate-instance-dashboard-vertices></app-wink-operate-instance-dashboard-vertices>-->
    <app-wink-operate-instance-curve></app-wink-operate-instance-curve>
  </div>


</div>
