<nz-radio-group class="time-range" [(ngModel)]="timeValue">
  <label nz-radio-button nzValue="tenMinutes">最近十分钟</label>
  <label nz-radio-button nzValue="oneHours">最近一小时</label>
  <label nz-radio-button nzValue="sixHours">最近6小时</label>
  <label nz-radio-button nzValue="oneDay">最近一天</label>
  <label nz-radio-button nzValue="oneWeek">最近一周</label>
</nz-radio-group>


<div class="range-picker">
  <!--<app-wink-datepicker [placeholderName]="'起始时间'"></app-wink-datepicker>-->
  <!--<span>-</span>-->
  <!--<app-wink-datepicker [placeholderName]="'结束时间'"></app-wink-datepicker>-->
</div>
