//:host ::ng-deep label {
//  border: none;
//  background: 0 0;
//  padding: 0 12px;
//}

.time-range ::ng-deep {

  label {
    border: none;
    background: 0 0;
    padding: 0 12px;
  }

  .ant-radio-button-wrapper-checked {
    font-weight: 700;
    box-shadow: none;
  }

}

:host {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: start;
  height: 55px;
}

.small {
  height: 42px;
}

.range-picker {
  margin-left: 12px;
}

nz-date-picker ::ng-deep nz-picker{
  width: 200px;
  margin: 0 6px;
}

//为了最近10分钟那块，没有border
:host ::ng-deep .ant-radio-button-wrapper-checked::before{
  content: none;
}


