.title{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(255,255,255,.85);
  line-height: 32px;
  position: absolute;
  width: 100%;
  z-index: 10;

  i{
    font-weight: 300;
    margin-left: 12px;
    cursor: pointer;
    font-size: 12px;
  }

  .operate{
    position: absolute;
    right: 12px;
    top: -2px;
    z-index: 10;

    i{
      color: rgba(255,255,255,.5);
    }
  }

}


.wrapper{
  height: 100%;
  width: 100%;
  position: relative;
  background: #404040;

  .chart{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

:host {
  height: 270px;
  position: relative;
  display: block;
  padding: 12px;
}


