<div class="wrapper">
  <div class="title">

    {{title}}

    <nz-tooltip [nzPlacement]="'top'">
      <span nz-tooltip class="info"><i class="anticon anticon-info-circle-o"></i>
      <ng-template #nzTemplate>
        <span class="tooltip-title">{{tooltipInfo}}</span>

      </ng-template>
      </span>
    </nz-tooltip>

    <span class="operate">
      <i class="anticon anticon-arrows-alt" nz-tooltip="全屏查看"></i>
    </span>


  </div>

  <div  echarts [options]="echartOption" class="chart" style="-webkit-tap-highlight-color: transparent; user-select: none;">
  </div>



</div>
