<div class="wrapper">
  <div class="title">

    FailOver Rate

    <nz-tooltip [nzPlacement]="'top'">
      <span nz-tooltip class="info"><i class="anticon anticon-info-circle-o"></i>
      <ng-template #nzTemplate>
        <span class="tooltip-title">衡量当前Job发生failover的频率，越低越好</span>
      </ng-template>
      </span>
    </nz-tooltip>

  </div>

  <div class="chart" style="-webkit-tap-highlight-color: transparent; user-select: none;">
    <div echarts [options]="echartOption" class="echartsStyle"></div>
  </div>



</div>
