<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'small'" [nzShowPagination]="'false'"
           class="code-tabset">

  <nz-tab [nzTitle]="titleTemplate1">
    <ng-template #titleTemplate1>
      <div class="title-wrapper">
        <i class="anticon code-icon anticon-solution"></i>
        <span class="title">{{"test1"}}</span>
        <i class="anticon close-tab-icon anticon-cross"></i>
      </div>
    </ng-template>
  </nz-tab>

  <nz-tab [nzTitle]="titleTemplate2">
    <ng-template #titleTemplate2>
      <div class="title-wrapper">
        <i class="anticon code-icon anticon-solution"></i>
        <span class="title">{{"test2"}}</span>
        <i class="anticon close-tab-icon anticon-cross"></i>
      </div>
    </ng-template>
  </nz-tab>

  <nz-tab [nzTitle]="titleTemplate3">
    <ng-template #titleTemplate3>
      <div class="title-wrapper">
        <i class="anticon code-icon anticon-solution"></i>
        <span class="title">{{"test2"}}</span>
        <i class="anticon close-tab-icon anticon-cross"></i>
      </div>
    </ng-template>
  </nz-tab>


  <!--TODO: 关闭的icon要是圆形的-->
</nz-tabset>
