<nz-header class="wink-header">




</nz-header>



<!--<nz-content class="wink-layout-content">-->
    <!--<nz-layout class="inner-layout">-->

      <!--<nz-sider [nzWidth]="256">-->

        <!--<ul nz-menu [nzMode]="'inline'" style="border-right: none; background-color: #404040">-->
          <!--<li nz-submenu>-->
            <!--<span title><i class="anticon anticon-bars"></i>项目管理</span>-->
            <!--<ul class="hehe">-->
              <!--<li nz-menu-item [nzSelected]="true" class="hehe">-->
                <!--<a href="">项目列表</a>-->
              <!--</li>-->

            <!--</ul>-->

          <!--</li>-->

        <!--</ul>-->
      <!--</nz-sider>-->

      <!--<nz-layout class="router-layout">-->
        <!--<nz-content>-->
          <!--<nz-card nzTitle="项目列表" class="ant-card">-->


          <!--</nz-card>-->

        <!--</nz-content>-->
      <!--</nz-layout>-->
    <!--</nz-layout>-->


  <!--</nz-content>-->
